:root {
  --main: #5325b4;
  --mainDark: #4b3775;
  --green: #2ab377;
  --red: #e24747;
  --stroke: #f3f4f8;

  /* Neitrals */
  --white: #ffffff;
  --black: #000000;
  --light-gray: #f3f4f8;

  /* Components colors */
  --bg: var(--light-gray);
  --headerBg: var(--white);
  --outterBg: var(--white);
  --statsTitle: #767676;
  --statsLabel: #767676;
  --text: var(--black);

  /* Button colors */
  --btn: #f3f4f8;
  --btnHover: #767676;
  --btnPrimary: #5325b4;
  --btnPrimaryHover: #4b3775;
}
